{{ if eq .chezmoi.os "linux" -}}


#!/bin/bash

PACKAGE_LIST="packages_list.txt"
cp ~/.local/share/chezmoi/$PACKAGE_LIST .
while read -r line; do
    sudo dnf install $line -y
done < "$PACKAGE_LIST"


{{ end -}}
